html {
  scroll-behavior: smooth;
}
#welcome-section {
  background-color: #1f2833;
  color: #66fcf1;
  height: 100vh;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -10px;

  background: url(https://i.pinimg.com/736x/0d/ac/d4/0dacd4acac8020b29e0821cd62f7158b.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header {
  background-color: #1f2833;
  color: #66fcf1;
  position: fixed;
  font-size: 1em;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -10px;
  z-index: 2;
}
h1 {
  padding-top: 1%;
  margin: 0%;
}
#webdev {
  color: white;
  font-size: 0.6em;
  margin: 0.4%;
  padding-bottom: 0.3em;
}
nav {
  margin: 0px 0px 0px 0px;
}
.nav-links {
  text-decoration: none;
  border-style: solid;
  border-radius: 5px;
  border-color: #66fcf1;
  color: white;
  font-size: 25px;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: 3px 3px 3px #aaaaaa;
}
.nav-links:hover {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  color: #66fcf1;
}
#projects {
  background: url(https://i.pinimg.com/736x/0d/ac/d4/0dacd4acac8020b29e0821cd62f7158b.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro-info img {
  height: 10rem;
  width: 10rem;
  border: 3px solid #66fcf1;
  border-radius: 50%;
  float: left;
}
.proj-name{
  margin: 30px;
}
#console{
  width: 400px;
  height: 510px;
  color: white;
  padding: 40px;
  background-color: #3b3b3b;
}
#code {
  border-radius: 5px;
  width: 480px;
  margin: 0 auto;
  padding-top: 15px;
  background: #ccc;
  height: 500px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size: 14px;
  color: #fafafa;
  margin-bottom:165px;
  float: left;
}
#about{
  background-color: #00515e;
  margin: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span.answer{
  color: #66fcf1;
}
#resume {
  background-color: #00515e;
  margin: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right:150px;
  /* background-image: linear-gradient(to bottom right, #00515e, black); */
}
#check_res {
  text-align: center;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 700;
    color: #fafafa;
    font-size: 12px;
    text-transform: uppercase;
}
#check {
  margin-top:50px;
  font-size: 2em;
  color: #1f2833;
  font-weight: bold;
}
#res_img{
  width:314px;
}
.template {
  background-color: #1f2833;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -15px;
}
.project-tile {
  font-size: 1.8em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  color: black;
  justify-items: center;
  align-items: center;
  padding-bottom: 5%;
}
.item {
  text-decoration: none;
  background: #45a29e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: indigo;
  background-color: #45a29e;
}
.item:hover {
  color: indigo;
  border-style: solid;
  border-width: 12px;
  margin: -12px;
}
.image {
  width: 10em;
  height: 8em;
  margin: 0px;
}
#profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  padding-bottom: 1.5em;
}
#profiles2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.connect {
  font-size: 0.5em;
  color: white;
  margin: -0.1em;
  padding-bottom: 1em;
}
.fa {
  padding-top: 0%;
  margin: 1.2em 1.5em 0em 1.5em;
  color: white;
}
.fa:hover {
  color: #66fcf1;
}
#contact {
  margin: -15px;
  padding-top: 2%;
  padding-bottom: 3%;
  background-color: #00515e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#conme {
  margin: 0px 5% 5% 5%;
  font-size: 2em;
  font-weight: bold;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label
{
  margin-top: -20px;
  margin-bottom: 5px;
  color: white;
  font-size: 15px;
}
#foot {
  margin: -15px;
  background-color: #1f2833;
  color: #66fcf1;

  background: url(https://i.pinimg.com/736x/0d/ac/d4/0dacd4acac8020b29e0821cd62f7158b.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-height: 400px) {
  #header {
    display: none;
  }
  #navbar {
    display: none;
  }
  .foot {
    display: none;
  }
  #webdev {
    padding-bottom: 0em;
  }
}
